/*
HTML RESET
*/

*, *::before, *::after {
    box-sizing: border-box;
  }
  * {
    margin: 0;
  }
  body {
    -webkit-font-smoothing: antialiased;
  }
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  input, button, textarea, select {
    font: inherit;
  }
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  #root, #__next {
    isolation: isolate;
  }

  /* MAIN BODY */

  body {
    background-color: #1d2327;
  }

  h1 {
    color: white;
  }

  .board {
    display: grid;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(3, 150px);
    gap: 20px;
  }

  .cell {
    background-color: #0b1317;
    border-style: none;
    border-radius: 15px;
    color: #62d2e3;
  }

  .o {
    color: #ea5b5f;
  }

  .x {
    color: #62d2e3;
  }