/*
HTML RESET
*/

*, *::before, *::after {
    box-sizing: border-box;
  }
  * {
    margin: 0;
  }
  body {
    -webkit-font-smoothing: antialiased;
  }
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  input, button, textarea, select {
    font: inherit;
  }
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  #root, #__next {
    isolation: isolate;
  }

  /* MAIN BODY */

  body {
    background-color: #1d2327;
    font-family: 'Red Hat Display';
  }

  h1 {
    color: white;
    font-size: 4rem;
  }

  h3 {
    font-size: 2rem;
  }

  .main {
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: center;
    gap: 30px;
    height: 100vh;
  }

  .content {
    display: flex;
    align-items: center;
    gap: 50px;
    height: 100vh;
    width: 100%;
  }

  .player1 {
    color: #62d2e3;
    flex: 1 1 auto;
    text-align: center;
  }

  .player2 {
    color:#ea5b5f;
    flex: 1 1 auto;
    text-align: center;
  }

  .board {
    display: grid;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(3, 150px);
    gap: 20px;
  }

  .cell {
    background-color: #0b1317;
    border-style: none;
    border-radius: 15px;
    color: #62d2e3;
    font-size: 100px;
    font-weight: 900;
  }

  .o {
    color: #ea5b5f;
  }

  .x {
    color: #62d2e3;
  }

  .token {
    font-size: 100px;
    font-weight: 900;
  }

  .message {
    color: white;
    justify-self: center;
    font-size: 2rem;
    font-weight: 700;
  }